

hr {
	color: #BEBEBE;
}

.home-page {
  margin-top:23% !important;
	padding-bottom: 2%;
	min-height: 650px;
	width:100%;
  font-family: 'Cinzel', serif;
  font-family: 'Libre Baskerville', serif;
}

.policies {
	background-size:cover;
	background-color: black !important;
	padding-top: 15px !important;
	padding-bottom:1%;
	margin-top:90px;
/*	margin-top:90px;   */
	margin-left:1% !important;
	margin-right:1% !important;
	min-height:500px;
	width:100%;
	padding-left:5% !important;
	padding-right:5% !important;
}

.policies h4, .policies h5 {
	color:black !important;
}

.refuse-service {
	font-size: 10px !important;

}

.visa-img {
	box-shadow: 2px 2px 5px #888888;

}

.navbar-color {
	background-color: #D5F4E6 !important;
}

.nav-button-color {
	background-color: WhiteSmoke !important;
}

/* cyan, aqua, aliceblue */
.top-banner {
	background-color: #80CED6 !important;
	height: 50px;
	box-shadow: 2px 2px 5px #888888;
}

.banner-2 {
	background-color: #80CED6 !important;
	height: 175px;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top:30px;
	margin-bottom:20px;
	box-shadow: 2px 2px 5px #888888;
}

.spacer {
	height:30px;
}

.banner-2-p {
	padding-top:5px;
	padding-bottom:5px;

}

.banner-p {
	padding-top:5px;
	padding-bottom:5px;

}

.castle-icon {
	height:80px;
	width:80px;
	padding-top:5%;
	padding-bottom:5%;
	margin-top:10px;
	margin-bottom:10px;

}

.castle-logo {
	font-family: 'Cinzel', serif;
	font-size:32px !important;
	margin-top:10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px #808080;

}

.castle-logo-2 {
	font-family: 'Cinzel', serif;
	font-size:25px !important;
	margin-top:10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px #808080;

}

.castle-icon-wrapper {
 background-color: #D5F4E6;
 margin-top:2%;
}

.castle-pic {
	box-shadow: 5px 5px 5px #888888;

}

.breakfast-pic {
	box-shadow: 5px 5px 5px #888888;
	height:300px;
	width:400px;
	margin-bottom: 5px !important;
}


.castle-section-1 {
	font-family: 'Cinzel', serif;
	font-size:25px !important;
	margin-top:5px;
	margin-bottom: 10px;
	text-shadow: 1px 1px #808080;
}

.social-media-icon {
	padding: 5px;
	height:60px;
}

.castle-slogan {
	display: inline-block;
	margin-top:-15px !important;
	margin-left: 15px !important;
}

.castle-key {
/*	margin-top: -20px !important; */
	display:inline-block;
	padding-bottom:10px !important;
}


.mid-section {
	background-color: #90AA86;
}

.center-logo {
	margin 0 auto;
	float: none;
}



img {

	/* border: 2px solid black; */

	/* border-radius:10%;  */
}

li a:link,
li a:visited,
li a:hover,
li a:active {
	font-size: 15px;
}

.button a:link,
.button a:visited,
.button a:hover,
.button a:active {
	color:white;
	text-decoration:none;
}


.footer-div{
	margin-top: 2px;
/*	padding-top:1px;  */
	padding-bottom:5px;
	font-size:9px;
}
.footer {
		padding-bottom:5px;
		position: relative;
		/*	margin-top: -150px; negative value of footer height */

		min-height: .5%;
		clear: both;
	  font-size:8px;
}

.footer-div a:link,
.footer-div a:visited,
.footer-div a:hover,
.footer-div a:active {
	color:black !important;

}

.footer-p {
	font-size:10px !important;
}

.footer-p a{
	font-size: 14px !important;
}

.ftr-div-2 {
	padding-top:5px;
}

.col-black {
	background-color:black !important;
}

body {
		background-color: white;
/*	background-image: url("../img/coffeeCup.png"); */
		overflow: auto;
		padding-bottom: 1%;

/*		font-size: 100%; */
}

p {
font-family: 'Libre Baskerville', serif;
font-size:110% !important;
}


@media only screen and (min-width: 500px) {

	/* .to-right {
  		float: right !important;
	} */

	.home-page {
	  margin-top:5% !important;
		padding-bottom: 2%;
		min-height: 650px;
		width:100%;
	  font-family: 'Cinzel', serif;
	  font-family: 'Libre Baskerville', serif;
	}

	.top-banner {
		background-color:#80CED6 !important;
		height: 75px;
	}

	.castle-logo {
		font-family: 'Cinzel', serif;
		font-size:50px !important;
		margin-top:10px;
		margin-bottom: 10px;
		text-shadow: 1px 1px #808080;
	}

	.castle-logo-2 {
		font-family: 'Cinzel', serif;
		font-size:35px !important;
		margin-top:10px;
		margin-bottom: 10px;
		text-shadow: 1px 1px #808080;
	}

	.banner-p {
		padding-top:5px;
		padding-bottom:5px;
    font-size: 24px !important;
	}

	.banner-2 {
		background-color:#80CED6 !important;
		height: 225px;
		padding-top:10px;
		padding-bottom: 10px;
		margin-top:30px;
		margin-bottom:30px;
		box-shadow: 5px 5px 5px #888888;

	}

	.castle-section-1 {
		font-family: 'Cinzel', serif;
		font-size:30px !important;
		margin-top:5px;
		margin-bottom: 10px;
		text-shadow: 1px 1px #808080;
	}

	.castle-slogan {
		display: inline-block;
		margin-top: -5px !important;
		margin-left: 15px !important;
	}

	li {
		font-size: 20px !important;
	}

	p {
		font-size: 20px !important;
	}

	.nav a{
	    font-size: 100% !important;
	    }

	min-height:650px;
}
